@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tw-border-opacity : 0, 0, 0;
  background-color: white;
  --meridiam-100: rgb(0, 207, 180)
}
